.main-laytout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 45px auto;
}

.main-content {
  max-width: 100vw;
  /* 45px is height of navbar */
  height: calc(100vh - 45px);
}
