.prompt-wrapper {
  padding: 2px;
  width: 100vw;
  position: fixed;
  bottom: 12px;
  left: 0;
  box-sizing: border-box;
  background-color: white;
}

.prompt-wrapper .button-round {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* TEXT AREA WRAPPER */

.text-area-wrapper textarea {
  padding: 8px 12px;
  margin-left: 12px;
  width: calc(100% - 24px);
  min-height: 32px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  outline: none;
  border: solid thin gainsboro;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.text-area-wrapper .attachment-button {
  position: absolute;
  left: 3px;
  top: 7px;
  background-color: var(--primary-main);
  color: white;
}

.text-area-wrapper .character-count {
  padding: 2px 4px;
  border-radius: 2px;
  position: absolute;
  right: 12px;
  top: -9px;
  font-size: 12px;
  color: white;
}

/* PROMPT MENU OPTIONS */
.prompt-options-menu {
  padding: 16px;
  position: absolute;
  z-index: 10;
  left: 6px;
  bottom: 100%;
  width: calc(100% - 12px);
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--grey-light);
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.prompt-options-menu p {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.prompt-options-menu .prompt-options-menu-button {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  background-color: transparent;
}

.prompt-options-menu .prompt-options-menu-button:first-child {
  margin-bottom: 12px;
}

.prompt-options-menu .prompt-options-menu-button:only-child {
  margin: 0;
}

.prompt-options-menu .prompt-options-menu-button:hover {
  color: var(--primary-main);
}

.prompt-options-menu .prompt-options-menu-button:hover svg {
  stroke: var(--primary-main);
}

.prompt-options-menu .icon {
  margin-right: 6px;
}

.clear-conversation-wrapper {
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
}

.clear-conversation-wrapper p {
  padding: 6px 0;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
}

.clear-conversation-wrapper p:hover {
  /* tw-red-700 */
  color: #b91c1c;
  background-color: #fee2e2;
}

/* .prompt-wrapper .prompt-submit {
  width: 0;
  height: 0;
  cursor: pointer;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid var(--primary-main);

  position: fixed;
  bottom: 22px;
  right: 22px;
} */

/* PROMPT MENU LOADER */
.prompt-options-menu-loader {
  padding: 1rem 0;
  position: relative;
}

.prompt-options-menu-loader .lds-ellipsis {
  margin-left: -35px;
  position: absolute;
  left: 50%;
}

/* ATTACHMENT WRAPPER */
.attachment-wrapper {
  padding: 0 12px;
  margin-top: 1rem;
  position: relative;
}

.attachment-wrapper > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  z-index: 10;
  left: 5px;
  top: -7px;
  background-color: #b91c1c94;
  color: white;
}

.attachment-wrapper > button:hover {
  /* TW RED 700 */
  background-color: #b91c1c;
}
