/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* VARIABLES */
:root {
  --primary-extra-light1: #d7e8d8;
  --primary-extra-light2: #afd2b1;

  --primary-light: #66bb6a;
  --primary-main: #388e3c;
  --primary-dark: #1b5e20;

  --secondary-main: #373f47;

  --grey-light: #f5f5f5;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#index {
  width: 100vw;
  height: 100vh;
}

/* ============== BUTTON ============== */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 12px;
  line-height: 1;
  border: none;
}

.button-outline {
  background-color: transparent;
  border: solid thin #d1d5db;
  color: white;
}

.button-outline:hover {
  background-color: #475569;
}

.button:hover {
  cursor: pointer;
}

.button.green {
  background-color: var(--primary-extra-light1);
  color: var(--primary-dark);
}
.button.green:hover {
  background-color: var(--primary-extra-light2);
  cursor: pointer;
}

.button.green:focus {
  /* box-shadow: 0 0 0 2px var(--green7); */
}

.button.green:disabled {
  color: #818181;
  cursor: not-allowed;
}

.icon-button {
  font-family: inherit;
  border-radius: 100%;
  border: none;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-dark);
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.icon-button:hover {
  background-color: #66bb6a61;
}
