# Dependencies
node_modules
dist
src/firebase-service-account.json

tsconfig.tsbuildinfo

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

stripe.exe